.barra {
    background-color: #E5E7E6;
}

.navbar {
    padding: 2 rem;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.title {
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #916C80;
}

.check {
    pad: 1.5rem;
    margin: 1.5rem;
}